<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ITicket</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <h1 class="text-center">ITicket</h1>
        <h2 class="text-center">Datos del Concierto</h2>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Barra de Navegación</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Regresar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <form th:action="@{/guardarConcierto}" method="post" th:object="${concierto}" class="row gy-2 gx-3 align-items-center">
            <input type="hidden" name="idConcierto" th:field="*{idConcierto}"/>
            <div class="mx-auto col-auto shadow-sm p-3 mb-5 bg-body rounded" style="width: 450px;">
                <label for="artista" class="form-label">Digite el Artista Asociado al Concierto:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Artista Asociado" th:field="*{artista}">
                <br/>
                <label for="costo" class="form-label">Digite el Costo del Concierto:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Costo del Concierto" th:field="*{costo}">
                <br/>
                <label for="fecha" class="form-label">Digite la Fecha del Concierto:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Fecha del Concierto" th:field="*{fecha}">
                <br/>
                <label for="capacidad" class="form-label">Digite la Capacidad Máxima que Tendrá el Concierto:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Capacidad Máxima" th:field="*{capacidad}">
                <br/>
                <label for="lugar" class="form-label">Digite el Lugar del Concierto:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Lugar del Concierto" th:field="*{lugar}">
                <br/>
                <input class="btn btn-primary" type="submit" name="guardar" value="Guardar"/>
            </div>
        </form>
    </body>
</html>
